* {
	box-sizing: border-box;
}

:root {
	font-family: sans-serif;
	--rock: url('./assets/webgoat/rock.svg') center / contain no-repeat;
	--paper: url('./assets/webgoat/paper.svg') center / contain no-repeat;
	--scissors: url('./assets/webgoat/scissors.svg') center / contain no-repeat;
	--stick: url('./assets/stick.svg');
	--quad-out: cubic-bezier(0.333, 0.667, 0.667, 1);
}
:root[theme=latte] {
	background-color: #eff1f5;
	color: #4c4f69;
	--crust: #dce0e8;
	--wall: #7c7f93;
	--soft: #6c6f85;
	--red: #e64553;
	--crust-red: #ffd4d2;
	--blue: #209fb5;
	--crust-blue: #cce6ec;
	--previous: #decbcb;
	--previous-red: #f7c1bb;
	--previous-blue: #d4cfce;
	--arrow-0: #dc8a78;
	--arrow-1: #d20f39;
	--arrow-2: #40a02b;
	--arrow-3: #df8e1d;
	--arrow-4: #1e66f5;
	--arrow-5: #8839ef;
	--arrow-6: #179299;
	--arrow-7: #7c7f93;
	--surface-2: #d9a39a;
	--surface-1: #bcc0cc;
	--surface-0: #ccd0da;
}
:root[theme=mocha] {
	background-color: #1e1e2e;
	color: #cdd6f4;
	--crust: #11111b;
	--wall: transparent;
	--soft: #a6adc8;
	--red: #eba0ac;
	--crust-red: #30171e;
	--blue: #74c7ec;
	--crust-blue: #10232b;
	--previous: #2b2932;
	--previous-red: #492f35;
	--previous-blue: #2c3a41;
	--arrow-0: #f5e0dc;
	--arrow-1: #f38ba8;
	--arrow-2: #a6e3a1;
	--arrow-3: #f9e2af;
	--arrow-4: #89b4fa;
	--arrow-5: #cba6f7;
	--arrow-6: #94e2d5;
	--arrow-7: #9399b2;
	--surface-2: #5e5a68;
	--surface-1: #45475a;
	--surface-0: #313244;
}

body {
	margin: 0;
}
#outer, .board-outer {
	display: flex;
	position: relative;
	padding: 0.5em;
	justify-content: center;
	align-items: center;
}
#outer {
	flex-direction: column;
	width: 100%;
	height: 100%;
}
.board-outer {
	flex: 0 1 var(--size);
	padding: 0.5em;
}
#board {
	display: grid;
	grid-template-columns: repeat(9, 1fr);
	padding: 2px;
	gap: 2px;
	aspect-ratio: 1;
	flex: none;
	background-color: var(--wall);
	user-select: none;
}
.cell {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--crust);
}
.cell#I9 {
	background: var(--crust-red);
}
.cell#A1 {
	background: var(--crust-blue);
}
.cell.previous {
	background: var(--previous);
}
.cell#I9.previous {
	background: var(--previous-red);
}
.cell#A1.previous {
	background: var(--previous-blue);
}

.arrows-outer {
	position: absolute;
	aspect-ratio: 1;
	pointer-events: none;
	padding: 0.5em;
	flex: none;
}
.arrows-shell {
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: 1px;
}
#arrows {
	/* Each cell could be thought of as reaching 1px further on every side. */
	opacity: 60%;
	width: 100%;
	height: 100%;
	overflow: visible;
}

.coord {
	position: absolute;
	text-box: cap alphabetic;
	color: var(--soft);
	font: small serif;
}
.coord.column {
	left: 0.4em;
	bottom: 0.4em;
}
.coord.row {
	text-align: right;
	right: 0.4em;
	top: 0.4em;
}
.stick {
	position: absolute;
	width: 1.5em;
	height: 1.5em;
	background-image: var(--stick);
	z-index: 5;
}
.blue.stick {
	top: 0;
	right: 0;
}
.red.stick {
	bottom: 0;
	left: 0;
}

.red.piece {
	background-color: var(--red);
}
.blue.piece {
	background-color: var(--blue);
}
.rock.piece {
	-webkit-mask: var(--rock);
	mask: var(--rock);
}
.paper.piece {
	-webkit-mask: var(--paper);
	mask: var(--paper);
}
.scissors.piece {
	-webkit-mask: var(--scissors);
	mask: var(--scissors);
}
.piece {
	position: relative;
	width: 100%;
	height: 100%;
	cursor: grab;
	transition: width 0.25s var(--quad-out), height 0.25s var(--quad-out);
}
.piece[active=active] {
	z-index: 10;
	cursor: grabbing;
	transition: none;
}

.analysis-outer {
	display: flex;
	flex-direction: column;
	padding: 0.5em;
}
.analysis {
	display: flex;
	background-color: var(--wall);
	padding: 1px;
}
.moves-outer {
	display: flex;
	flex-direction: column-reverse;
	margin: 1px;
	overflow-y: auto;
	scrollbar-color: var(--surface-2) transparent;
	background-color: var(--crust);
	flex: 1 1 auto;
	max-height: var(--size);
}
#moves {
	display: grid;
	font-size: 1.33em;
	font-size: round(1.33em, 1px);
	flex: 1 1 auto;
	grid-template-columns: auto 1fr 1fr;
	grid-auto-rows: 2em;
	gap: 2px;
}
.move-number {
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: content-box;
	padding: 0 0.5ch;
	min-width: 2ch;
	font-family: serif;
	font-style: italic;
	background-color: var(--surface-1);
}
.move {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--surface-0);
	overflow: visible;
}
.move.gap {
	background-color: transparent;
}
.variation-box {
	font-size: 0.75em;
	grid-column: 1 / span 3;
	border-top: 1px solid var(--wall);
	border-bottom: 1px solid var(--wall);
	padding: 0.25em;
}
.variation-move {
	padding: 0 0.5ch;
}
.current {
	background-color: var(--surface-2);
}

.sidebar-outer {
	padding: 0.5em;
	flex: none;
	flex-direction: row;
}
.sidebar {
	display: grid;
	background-color: var(--wall);
	padding: 2px;
	gap: 2px;
}
.bar-item {
	background-color: var(--crust);
	width: 3em;
	height: 3em;
}
.icon {
	width: 100%;
	height: 100%;
	background-color: var(--soft);
}
.icon:hover, .icon[active=active] {
	background-color: currentColor;
}
.icon#settings {
	-webkit-mask: url('./assets/gear.svg');
	mask: url('./assets/gear.svg');
	transition: rotate 0.25s linear;
}
.icon#settings[active=active] {
	rotate: 90deg;
}

/* Landscape mode. There needs to be enough space. */
@media (width >= 100vh) and (width >= 51em) {
	html {
		--size: 78vh;
		/* more subpixel alignment garbage */
		--size: round(78vh, 1px);
	}
	#outer {
		flex-direction: row;
		height: 100vh;
	}
	.board-outer, .analysis-outer, .sidebar-outer {
		height: var(--size);
	}
	.sidebar-outer {
		flex-direction: column;
	}
	.analysis-outer {
		flex: 0 2 30ch;
		min-width: 20ch;
	}
	#board, .arrows-outer {
		width: 100%;
	}
	.analysis {
		height: 100%;
	}
}
@media not ((width >= 100vh) and (width >= 51em)) {
	html {
		--size: 78vw;
		--size: round(78vw, 1px);
	}
	#board, .arrows-outer {
		height: 100%;
	}
	.analysis-outer, .sidebar-outer {
		width: var(--size);
	}
}
